<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">
              Logo Here
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">ABOUT<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">President</a></li>
                <li><a href="../cerulean/">Staff</a></li>
                <li><a href="../cosmo/">Attorney</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">SERVICES<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../cerulean/">Retirement & Insurance Planning</a></li>
                <li><a href="../cosmo/">Tax Planning & Preperation</a></li>
                <li><a href="../cyborg/">Social Security Income Planning</a></li>
                <li><a href="../darkly/">Estate & Inheritance Planning</a></li>
              </ul>
            </li>
            <li>
              <a href="http://news.bootswatch.com">CALENDAR</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">CONTACT</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="tel:8888888888" target="_blank">(888) 888-8888</a></li>
          </ul>

        </div>
      </div>
    </div>